body {
    background-color: #2c2c2c;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Estilos de header */
header {
    background-color: #333;
    padding: 20px 0;
    position: fixed; /* Cabecera fija */
    width: 100%; /* Ocupa todo el ancho */
    top: 0; /* Arriba de la página */
    z-index: 1000; /* Asegura que esté encima de otros elementos */
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    width: 50px;
}

header h1 {
    margin: 0;
    font-size: 24px;
    color: #fff;
    margin-right: 700px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    position: relative;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s;
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: #555;
}

.review-form-container {
    background-color: #383838;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
}

.review-form-container h1 {
    margin-bottom: 20px;
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}
